<div class="website-cover">
    <div class="container">
        <div class="slide">
            <h1 >Financing Solutions</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cupiditate suscipit, magnam libero velit esse sapiente officia inventore!</p>
            </div>
            <div class="row mt-100">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img class="w-25 mb-4 img-fluid" src="/assets/wallet.svg" alt="wallet">
                    </div>
                    
                    <h3 class="card-title">Money Savings</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <img class="w-25 mb-4" src="/assets/cart.svg" alt="cart">
                    </div>
                    <h3 class="card-title">Online Shoppings</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <img class="w-25 mb-4" src="/assets/credit-card.svg" alt="credit-card">
                    </div>
                    <h3 class="card-title">Credit / Debit Cards</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
            </div>
    </div>
    
    
</div>